

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




h1 {
	color:#7F5217;
	font-family:helvetica;
	text-transform:uppercase;
	font-weight:bold;
	font-size:23px;
	padding-top:30px;
	padding-bottom:;
}

h2 {
	color:#7F5217;
	font-family:helvetica;
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:20px;
	
}


nav li {
   list-style-type:none;
   float:left;
   margin:0 auto;
   padding:18px 14px;
   color:white;
   text-transform:uppercase;
   font-family:helvetica;
   font-size:14px;
   font-weight:bold;
   text-decoration:none;
 }
 
 body {

	 
	
 }

 p {
	 
	 font-family:helvetica;
	 line-height:20px;
	 font-size:12px;
	 padding-right:270px;}
	 
	 #site-wrapper {
		 clear:both;
		 margin:0 auto;
		 width:100%;
		 background-color:#7F5217;
		 
	 	
	 }
	 
	 #site-header h1 {
		 position:absolute;
		 top:0;
		 left:0;
	 }
	 
	 #site-header nav {
		 position:absolute;
		 top:0;
		 right:0;
	 }
	 
	 #site-header {
		 width:70%;
		 background-color:#F5F5CC;
	
	 }
	 
	 #site-header img {
		 padding-left:210px;
	 }
	 
	 #top-nav {
		 padding-right:250px;
		 padding-top:20px;
		 font-family:helvetica;
		 font-size:10px;
		 
	 }
	 
	 #menu-wrapper { 
		 width:100%;
		 background-color:#7F5217;
		 height:50px;
	 
	 }
	 
	 #main-menu {
		 margin:0 auto;
		 width:70%;
	 }
	 
	 #main-menu a {
		 text-decoration:none;
		 color:white;
	 }
	 
	 #sidebar {
		 float:left;
		 width:30%;
		 text-decoration:none;
		 line-height:20px;
		 font-family:helvetica;
		 
	 }
	 
	 #sidebar a {
		 color:#7F5217;
		 text-decoration:none;
		 font-size:12px;
	 }
	 
	 #page {
		 float:left;
		 width:70%;
	 }
	 
	 #content-wrapper {
		 margin:0 auto;
		 width:70%
	 }
	 
	 #footer-wrapper {
		 clear:both;
		 background-color:#7F5217;
		 width:100%;
		 height:150px;
		 margin:0 auto;
	 }
	 
	 #footer-contact {
		 float:left;
		 width:50%;
		 
	 }
	 
	 #footer-contact p {
		 padding-left:200px;
		 
	 }
	 
	 #footer-follow {
		 float:left;
		 width:50%;
	 }
	 
	 #footer-follow h1{
		 color:#F5F5CC;
		 font-size:14px;
		 padding-left:200px;
	 }
	 
	 #footer-follow li {
		 float:left;
	 }
	 
	 #footer-follow ul {
		 padding-left:200px;
	 }
	 
	 #site-footer {
		 margin:0 auto;
	 }
	 
	 #footer-contact h1 {
		 color:#F5F5CC;
		 padding-left:210px;
		 font-size:14px;
	 }
	 
	 #footer-contact p {
		 color:white;
		 padding-left:210px;
	 }
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
